gunicorn==19.9.0
dlib==19.20.0
h5py==2.10.0
Flask==1.1.2
imutils==0.5.3
Jinja2==2.11.2
numpy==1.19.0
opencv-python-headless==4.2.0.32
Pillow==7.1.2
requests==2.23.0
keras                    == 2.4.3  
tensorflow               == 2.2.0  
